:root {
  --magenta: #d33682;
  --red: #dc322f;
  --green: #859900;
  --cyan: #2aa198;
  --blue: #268bd2;
  --violet: #6c71c4;
  --orange: #cb5b16;
  --yellow: #b58900;
}

.dark {
  --bgColor: #002b36;
  --fgColor: #839496;
  --secondary: #586e75;
  --emphasized: #93a1a1;
  --bgHighlights: #073642;
}

.light {
  --bgColor: #fdf6e3;
  --fgColor: #657b83;
  --emphasized: #586e75;
  --secondary: #93a1a1;
  --bgHighlights: #eee8d5;
}

body {
  font-size: 12pt;
  font-family: sans-serif;
  background-color: var(--bgColor);
  color: var(--fgColor);
}

h1, h2 {
  font-family: 'Trirong', sans-serif;
  color: var(--emphasized);
}

pre {
  font-family: 'Consolas', 'Inconsolata', monospace;
}

#reference {
  position: relative;
  padding: 20px;
  margin: 20px auto;
}

@media only screen and (min-width: 992px) {
  #reference {
    -webkit-columns: 3 350px;
    -moz-columns: 350px;
    columns: 3 350px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}

#reference div {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

#reference pre {
  padding: 1em;
  background-color: var(--bgHighlights);
}

#reference table.minimalistBlack {
  width: 100%;
  text-align: left;
  border-spacing: 0;
}

#reference table.minimalistBlack td, #reference table.minimalistBlack th {
  padding: 5px 4px;
  border: 1px white solid;
  border-color: var(--emphasized);
}

#reference table.minimalistBlack thead {
  background-color: #CFCFCF;
  background-color: var(--bgHighlights);
  border-bottom: 3px solid #FFFFFF;
  border-color: var(--emphasized);
}

#reference table.minimalistBlack thead th {
  font-weight: bold;
  text-align: left;
}

#reference div:first-of-type h2:first-of-type {
  margin-top: 0;
}